/* cyrillic-ext */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap');

@background-color-main: #28bdb3;
@dark-background-color-main: #363434;
@font-main: "Lato", sans-serif;
@color-text-main: #fff;
@col-80: 80%;
@h_50: 50px;

* {
    margin: 0;
    padding: 0;
    font-family: @font-main;
}

// start css header
.top-header {
    background: @background-color-main;
    color: @color-text-main;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    padding: 13px 0px;
}

.middle-xs {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    -ms-grid-row-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;

}

.container-custom {
    padding-right: 56.250px;
    padding-left: 56.205px;
    min-width: @col-80
}

.logo-baner {
    padding: 0;
}

.site-header-upper {
    align-items: center;
    padding-top: 35px;
    padding-bottom: 25px;

}

.icon-header-left {
    min-width: 90px;
}

.icon-header-left ul {
    list-style: none;
    display: flex;
}

.social-links {
    margin: 0;
}

.social-links svg {
    width: 20px;
    height: 22px;
    display: inline-block;
    margin-right: 15px;
}

.top-header_left {
    padding: 0;
    box-sizing: border-box;
    display: flex;
}

.col-sm-9>span {
    float: right;
}

.text-right {
    display: flex;
    justify-content: flex-end !important;

}

.text-right div>a,
.top-header_left div>a {
    color: @color-text-main;
    font-weight: 900;
    font-size: 12px;
    text-decoration: none;
}

.header-cart {
    font-size: 14px;
    font-weight: 500;
}

.top-header_left div>a {
    font-size: 15px;
}

.top-header-right svg {
    height: 20px;
    width: 22px;
}

.top-header-contact {
    margin-right: 35px;
}

.top-header-store {
    margin-left: 35px;
}

.logo-matchbox {
    height: 3rem;
    max-width: 100%;
}

.site-header__links {
    margin-right: 25px;
}

.site-header__links:last-child {
    margin-right: 0;
}

.input-group__btn {
    padding: 0;
}

.site-header__links svg {
    height: 24px;
    width: 24px;
}

#bc-sf-search-box-0 {
    width: 270px !important;
    color: #303030;
    margin: 0;
    background-color: transparent;
    -ms-transition: border-color 0.3s ease-in-out, opacity 0.2s ease-in-out;
    -webkit-transition: border-color 0.3s ease-in-out, opacity 0.2s ease-in-out;
    transition: border-color 0.3s ease-in-out, opacity 0.2s ease-in-out;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: 0;
    border-bottom: 1px solid #363434;
    outline: none;
    display: inline-block;
}
#bc-sf-search-box-0:focus{
    box-shadow: 0px -1px 4px -1px #000;
}
.list-menu-pa {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.list-menu-pa::-webkit-scrollbar {
    display: none;
}

.list-menu {
    width: 100%;
    // min-width: 1024px;
    margin: 0;
    display: flex;
    justify-content: space-between;

}

.list-menu>li {
    min-width: auto;
    padding: 1rem 1.5rem;
    list-style: none;
}

.list-menu>li>a {
    text-decoration: none;
    color: @dark-background-color-main;
    font-size: 13px;
    font-weight: 400;
}

.list-menu>li>a:hover {
    color: @background-color-main;
}

.icon-arrow-down {
    width: 8px;
}

.drop-menu>a {
    display: flex;
    flex-wrap: nowrap;
}

.nav-desktop-drop {
    margin-top: 1rem;
    display: none;
    min-height: 300px;
    position: fixed;
    background-color: @color-text-main;
    min-width: 550px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.drop-menu:hover .nav-desktop-drop {
    display: block;
    transition: opacity 0.6s ease-in-out;

    opacity: 1;

}

.nav-desktop-drop-right {
    right: 10%;
}

.list-drop {
    padding: 0 1rem;
}

.list-drop>li {
    list-style: none;
}

.list-drop>a {
    text-decoration: none;
    color: @background-color-main ;
    font-size: 25px;

}

.list-drop>li>a {
    text-decoration: none;
    color: @dark-background-color-main;
}

.list-drop>li>a:hover {
    color: @background-color-main;
}

.header-mobile {
    display: none;
}

// ----------------------------------------------------------
.top-header-mobile {
    background-color: @background-color-main;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    padding: 13px 0px;
}

.top-header-mobile-item>a {
    color: @color-text-main;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
}

.top-header-mobile-item:last-child {
    display: flex;
    justify-content: flex-end;
}

.test-css,
.site-header-upper-right {
    display: flex;
}

.test-css>label {
    margin-bottom: 0;
}

.site-header-upper-right {
    justify-content: flex-end;
}

.site-header__section--logo {
    display: flex;
    justify-content: center;
}

.icon-style {
    margin-right: 15px;
    height: 24px;
    width: 24px;
}

.nav-bar-mobile {
    overflow-x: scroll;
    min-height: 4rem;
    width: 100%;
    background-color: @background-color-main;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform linear 0.3s;
}

.nav-list_item {
    padding: 1rem;
}

.nav-list_item>a {
    text-decoration: none;
    color: @color-text-main;
}

.tranform-icon {
    display: inline-block;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    float: right;
    align-items: center;
}

.line-item {
    color: @color-text-main;
    margin: 0;
}

#nav-input-checkbox:checked~.nav-bar-mobile {
    transform: translateX(0%);
}

.nav-lv2 {
    background-color: @background-color-main;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
}

.nav-link {
    padding: 0;
}

.hide-menu {
    transform: translateX(-100%);
    transition: transform linear 0.3s;
}

.show-menu {
    transition: transform linear 0.3s;
    transform: translateX(0%);
}

//   mobile: width < 740px
@media only screen and(max-width: 46.25em) {
    .shopify-section {
        display: none;
    }

    .header-mobile {
        display: block;
    }

    .site-header-upper {
        padding: 25px 0;
    }

    .logo-matchbox {
        height: 2.5rem;
    }
}

//tablet: width >= 740px and width<= 1024px
@media only screen and (min-width: 46.25em) and (max-width: 64em) {

    .icon-header-left {
        min-width: 111px;
    }

    .top-header-right {
        min-width: 28rem;
    }

    .logo-matchbox {
        height: 2.5rem;
    }

    #bc-sf-search-box-0 {
        width: 200px !important;
    }

    .nav-desktop-drop {
        right: 10%;
        left: 10%;
    }

    .site-header__links {
        margin-right: 15px;
    }
}

//desktop: width > 1024px
@media only screen and(min-width: 64em) {
    .desktop {
        display: block;
    }
}

// end css header
// -----------------------------------------------------------------------------------
// start css footer 

.footer_pc {
    @media (max-width: 991.98px) {
        display: none;
    }

    background-color: @dark-background-color-main;
    padding: 70px 0px 30px;
}

.container_footer_content {
    width: 85%;
    margin: auto;
}

.ft_title_items {
    font-family: @font-main;
    color: @background-color-main;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400px;
}

.ft_list_links {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 20px;
}

.ft_links a {
    color: @color-text-main;
    font-size: 12px;
    text-transform: capitalize;
}

.row_ft_child_lg {
    width: 100%;
    display: flex;
}

.col_child_one {
    width: 40%;
}

.col_child_two {
    width: 20%;
}

.ft_child_content {
    font-size: 0.875em;
    color: @color-text-main;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 1.3;
    padding: 5px;
}

.ft_child_links a {
    color: @background-color-main;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: @font-main;
}

.ft_list_links_icon {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ft_child_icon {
    margin-right: 15px;
    margin-top: 10px;
}

.ft_child_icon svg {
    width: 1.5em;
    height: 1.5em;
}

.ft_child_icon a {
    color: @color-text-main  !important;
}

.col_image_ft_child img {
    width: 77px;
    padding-right: 10px;
}

.col_image_ft_child {
    margin-top: 8%;
    display: flex;
    width: 80%;
    margin-left: 34%;
}

.logo_footer svg {
    height: 2em;
    max-width: 100%;
}

.logo_footer span {
    color: @color-text-main;
    font-size: 12px;
    letter-spacing: 0.3px;
    display: inline-block;
    vertical-align: middle;
    margin: 6px 0 0 10px;
}

.paymen_footer svg {
    width: @col-80;
    color: @color-text-main;

}

.paymen_footer {
    width: @col-80;
    display: flex;
    list-style: none;
    float: right;

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: @col-80;
        justify-content: center;
        float: none;
    }

    @media (min-width:320px)and (max-width:767px) {
        width: @col-80 + 20%;
        justify-content: center;
        float: none;
    }
}

.paymen_footer li {
    width: 56px;
    height: 28px;

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: auto;
        height: auto;
    }
}

svg.icon.icon--wide.icon-paypal {
    @media (min-width: 768px) and (max-width: 991.98px) {}
}

svg.icon.icon-american_express {
    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 58%;
    }

}

svg.icon.icon--wide.icon-apple_pay {
    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 70% !important;
    }

}

svg.icon.icon-master {
    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 70% !important;
    }
}

svg.icon.icon--wide.icon-paypal {
    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 100% !important;
    }
}

svg.icon.icon--wide.icon-visa {
    @media (min-width: 768px) and (max-width: 991.98px) {
        margin-left: 10px;
    }
}

.ft_logo_mb {
    padding: 2%;
    display: flex;
    justify-content: center;

}

.ft_logo_mb svg {
    width: 25%;

    @media (min-width:320px)and (max-width:767px) {
        width: 50%;
        margin: auto;
        justify-content: center;
    }
}

.ft_logo_mb span {
    color: @color-text-main;
    font-size: 80%;
    margin: 9px 8px;
    padding-top: 5px;
}

.list_icons_ft_mb {
    list-style: none;
    display: flex;

    @media (min-width:320px)and (max-width:767px) {
        margin: auto;
        width: @col-80 - 40%;
        margin-bottom: 5%;
        // justify-content: center;
    }
}

.icon_ft_mb svg {
    fill: @color-text-main  !important;
    width: 22px;
}

.icon_ft_mb {
    // padding-left: 35px;
}

.icon_ft_mb h3 {
    color: @color-text-main;
    font-family: @font-main;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: bold;
}

/* banner header----------- */
.banner_pc {
    padding: 0.7%;
    background-color: @dark-background-color-main;

    @media (min-width:320px)and (max-width:767px) {
        /* Styles */
        padding-bottom: 1 !important;
    }
}

.banner_header_pc {
    @media (min-width:320px)and (max-width:767px) {
        /* Styles */
        padding: 2% !important;
    }

    overflow-x: auto;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch !important;
    /* [3] */
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.banner_header_pc::-webkit-scrollbar {
    display: none;
}

.banner_item_pc a {
    text-align: center;
    // justify-content: center;
    display: flex;
    text-decoration: none;

    @media (min-width:320px)and (max-width:767px) {
        /* Styles */
        align-self: center !important;
    }
}

.banner_item_pc a:hover {
    .i_banner_pc {
        fill: @background-color-main  !important;
    }

    .title_banner_pc {
        color: @background-color-main;
    }
}

@width-icon: 10%;

.i_banner_pc {
    fill: @color-text-main;
    width: @width-icon + 1.5%;

}

.icon--wide.icon-truck {
    @media (min-width: 768px) and (max-width: 991.98px) {
        width: @width-icon + 60%;
        margin-left: 30%;
    }

    @media (min-width:320px)and (max-width:767px) {
        width: @width-icon + 60%;
    }
}

.icon.icon-return {
    width: @width-icon + 63.5%;

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: @width-icon + 40%;
        margin-left: 50%;
    }
}

.icon-box {
    width: @width-icon + 35%;
    margin-left: 67%;
}

.image_map {
    @media (min-width: 768px) and (max-width: 991.98px) {
        margin-left: 50%;
    }
}

.title_banner_pc {
    line-height: 2.6;
    text-transform: uppercase;
    font-family: @font-main;
    font-size: 70%;
    color: @color-text-main;
    font-weight: 500;
    margin-left: 3%;

    @media (min-width:320px)and (max-width:767px) {
        font-size: 85%;
        line-height: 2;
    }
}

/* banner image single ----------- */
.img_banner_single {
    height: 80vh;

    @media (min-width:320px)and (max-width:767px) {
        height: auto;
    }
}

.img_banner_single img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    opacity: 0.7;

    @media (min-width:320px)and (max-width:767px) {
        height: 40vh;
    }
}

.content_banner_single {
    position: relative;
    opacity: 82%;
    bottom: 70%;

    @media (max-width: 991.98px) {
        bottom: 62%;
    }

    @media (min-width:320px)and (max-width:767px) {
        position: static;
    }
}

.main_content_bn {
    letter-spacing: 0;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 250%;
    color: @dark-background-color-main;

    @media (max-width: 991.98px) {
        font-size: 150%;
        width: 80%;
    }

    @media (min-width:320px)and (max-width:767px) {
        padding-top: 2%;
        margin: auto;
    }
}

.button_single_banner {
    @media (max-width: 991.98px) {
        width: 80%;
    }

    @media (min-width:320px)and (max-width:767px) {
        margin: auto;
        margin-top: 2%;
        margin-bottom: 3%;
    }
}

.btn-banner {
    background-color: @background-color-main;
    width: 25%;
    border: none;
    border-radius: 0px;
    color: @color-text-main;
    text-transform: uppercase;
    font-weight: 500;

    @media (max-width: 991.98px) {
        width: 60%;
    }

    @media (min-width:320px)and (max-width:767px) {
        width: 60%;
    }
}

/* banner image double ----------- */
.image_double {
    height: 59vh;

    @media (max-width: 991.98px) {
        height: 75vh;
    }

    @media (min-width:320px)and (max-width:767px) {
        height: 43vh;
    }

    @media (max-width:320px) {
        height: 29vh;
    }
}

.image_banner_double {
    width: 50%;
    height: 60vh;

    @media (min-width:320px)and (max-width:767px) {
        // height: 43vh;
    }
}

.image_banner_double img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    opacity: 0.5;
    padding: 1.1%;

    @media (min-width: 768px) and (max-width: 991.98px) {
        height: 76vh;
        padding: 1.5%;
    }

    @media (min-width:320px)and (max-width:767px) {
        height: 43vh;
        padding: 1.9%;
    }

    @media (max-width:320px) {
        height: 30vh;
        padding: 1.9%;
    }
}

.content_banner_double {
    position: relative;
    bottom: 65%;

    @media (min-width: 768px) and (max-width: 991.98px) {
        bottom: 82%;
    }

    @media (min-width:320px)and (max-width:767px) {
        bottom: 55%;
    }

    @media (max-width:320px) {
        bottom: 40%;
    }
}

.content_banner_double h1 {
    opacity: 0.8;
    .main_content_bn();

    @media (min-width: 768px) and (max-width: 991.98px) {
        margin: auto;
    }

    @media (max-width:320px) {
        font-size: 130%;
    }
}

.content_banner_double p {
    font-size: 160% !important;
    font-weight: normal !important;
    opacity: 0.7;
    margin-bottom: -1%;
    .main_content_bn();

    @media (min-width: 768px) and (max-width: 991.98px) {
        margin: auto;
        font-size: 120% !important;

    }

    @media (min-width:320px)and (max-width:767px) {
        margin-bottom: -4%;
        font-size: 120% !important;
    }
}

.btn-banner_db {
    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 30%;
    }

    @media (min-width:320px)and (max-width:767px) {
        margin-bottom: 100%;
        width: 150px;
    }
}

/* shopify ----------- */

.title-shopify {
    margin: 5% 0 0%;
    color: @background-color-main;
    font-size: 200%;
    text-transform: uppercase;
    font-family: @font-main;

    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 120%;
    }

    @media (min-width:320px)and (max-width:767px) {
        font-size: 120%;
        margin-top: 10%;
    }
}

.shopify {
    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 60%;
    }

    @media (min-width:320px)and (max-width:767px) {
        width: 90%;
    }
}

.cate_shopify {
    margin-top: 5%;

    @media (min-width: 768px) and (max-width: 991.98px) {
        text-align: initial;
        display: flex;
    }

    @media (min-width:320px)and (max-width:767px) {
        text-align: initial;
        display: flex;
    }

}


.cate_shopify img {
    width: 50%;
    border: 1px solid #e5e4e4;
    border-radius: 50%;

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 25%;
    }

    @media (min-width:320px)and (max-width:767px) {
        width: 35%;
    }

}

.cate_shopify h3 {
    margin-top: 3%;
    color: #787979;
    font-size: 160%;
    font-weight: 400;
    font-family: @font-main;

    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 100%;
        align-self: center;
        margin-left: 2%;
    }

    @media (min-width:320px)and (max-width:767px) {
        font-size: 100%;
        align-self: center;
        margin-left: 2%;
    }
}

/* slide ----------- */


.slide-items {
    // background-color: #a27bd6;
    border: 1px solid #e5e4e4;
    padding: 15px;
    margin: 7px !important;

    @media (min-width: 1024) {}

    @media (min-width: 768px) and (max-width: 991.98px) {
        margin: 8px;
    }

    @media (min-device-width:320px)and (max-device-width:480px) {
        margin: 8px;
    }
}

.slide-items img {
    width: 100%;
    margin: auto;
}

.slide-items a {
    font-size: 100%;
    text-decoration: none;
}

.info-products {
    padding-top: 5%;
    text-align: initial;
    line-height: 0.5;
    height: 100px !important;

    @media (max-width: 991.98px) {
        line-height: 1;
    }

}

.title_p {
    text-transform: uppercase;
    font-family: @font-main;
    font-weight: bold;
    color: black;
}

.detail_p {
    color: #6d7579;
    font-size: 94%;
    line-height: 1.2;

    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 80%;
    }

    @media (min-device-width:320px)and (max-device-width:480px) {
        font-size: 80%;
    }

}

.detail_p:hover {
    color: black;
}

.prize_p {
    font-family: @font-main;
    font-size: 140%;
    color: @background-color-main;
    // line-height: 2;
    // margin-bottom: 9%;
    font-weight: bold;

    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 110%;
    }
}

.prize_p span {
    .detail_p();
    font-size: 60%;
    font-weight: normal;
    text-transform: uppercase;
}

.previous {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 11;
    bottom: 350px;
    margin-left: 5%;
    cursor: pointer;

    @media (min-width: 768px) and (max-width: 991.98px) {
        bottom: 280px;
        margin-left: 7%;
    }
}

.previous svg {
    fill: @background-color-main  !important;
    width: 30%;
}

.next {
    .previous();
    float: right;
    margin-right: 5%;
    bottom: 390px;

    @media (min-width: 768px) and (max-width: 991.98px) {
        bottom: 320px;
    }

}

.next svg {
    fill: @background-color-main;
    width: 30%;
}

.btn-slide-view {
    background-color: @background-color-main;
    padding: 9px;
    color: @color-text-main;
    border-radius: 0px;
    font-family: @font-main;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: bold;
    margin: 5% 0;
    opacity: 0;

    @media (max-width: 991.98px) {
        opacity: 1;
    }
}

.btn-slide-view svg {
    width: 5%;

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 7%;
    }
}

.slide-items:hover .btn-slide-view {
    opacity: 1;
}

// banner text
.banner-text {
    background-color: @background-color-main;
    padding: 5%;

    @media (min-width: 768px) and (max-width: 991.98px) {
        padding: 4% !important;
    }
}

.main-banner {
    width: 100%;
}

.title-bn-text {
    color: @color-text-main;
    font-family: @font-main;
    // font-size: 120%;
    text-transform: uppercase;

    @media (min-width: 320px) and (max-width: 991.98px) {
        font-size: 110%;
        font-weight: 600;
        letter-spacing: 1.3px;
    }
}

.content-banner {
    @media (max-device-width:320px) {
        padding: 0;
    }
}

.content-bn-text {
    .title-bn-text();
    text-transform: initial;
    font-size: 160%;
    margin: 2% 0;
    line-height: 1.2;

    @media (min-width: 320px) and (max-width: 991.98px) {
        font-size: 90%;
        letter-spacing: 0px;
        font-weight: 100;
    }

    @media (max-device-width:320px) {
        font-size: 90%;
    }
}

.btn-bn-text {
    .btn_search_mb();
    background-color: @color-text-main;
    color: @background-color-main;
    border: none;
    padding: 1% 6%;
    letter-spacing: 1.3px;
    font-weight: 600;

    @media (min-width: 768px) and (max-width: 991.98px) {
        padding: 2% 5%;
        margin-bottom: 2%;
        margin-top: 3%;
    }

    @media (min-device-width:320px)and (max-device-width:480px) {
        padding: 2.5% 5%;
        margin-bottom: 2%;
        margin-top: 3%;
    }

    @media (max-device-width:320px) {
        padding: 3%;
        width: 50%;
    }
}

/* latest-slide ----------- */

.title-latest-slide {
    .title-shopify();
    margin-top: 4%;
    margin-bottom: 2%;

}

.latest-slide-items {
    .slide-items();
    padding: 8px;
    border: none;

    @media (min-width: 768px) and (max-width: 991.98px) {
        padding: 0.7px;
    }

    @media (min-device-width:320px)and (max-device-width:480px) {
        padding: 0.7px;
    }
}

.image-slide-items {
    width: 100%;
    object-fit: cover;
    margin: auto;
    opacity: 0.3;
    height: 50rem;

    @media (min-width: 768px) and (max-width: 991.98px) {
        height: 20rem;
        object-fit: cover;
    }

    @media (min-device-width:320px)and (max-device-width:480px) {
        height: 23rem;
        object-fit: cover;
    }
}

.latest-info-products {
    .info-products();
    background-color: #fafafa;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    height: auto !important;
    color: #5d5d5d;
    font-size: 100%;
    font-weight: bold;
    font-family: @font-main;

    @media (min-width: 768px) and (max-width: 991.98px) {
        padding: 1.5rem 1.5rem 1.5rem 1rem;
        line-height: 0.5;
    }
}

.latest-slide-items a {
    text-decoration: none;
}

.latest-detail_p {
    text-transform: uppercase;
}

.latest-btn-slide {
    .btn-slide-view();
    opacity: 1;
    letter-spacing: 1.3px;
    padding: 3.7%;
    width: 40%;
    border: none;
    font-size: 90%;
    margin: 2% 0;

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 30%;
        font-size: 90%;
        margin: 1% 0;
        padding: 4.5%;
    }
}

.latest-btn-slide:hover {
    background-color: #4cd8cf;
}

.latest-center-image {
    position: absolute;
    color: #707070;
    text-transform: capitalize;
    font-size: 160%;
    font-family: @font-main;
    font-weight: 600;
    top: 35%;
    left: 40%;

}

.pre-latest {
    width: 50px;
    height: 50px;
    background-color: @color-text-main;
}

.pre-latest svg {
    margin-top: 25%;
    margin-left: 25%;
}

.next-latest {
    .pre-latest();
    bottom: 400px !important;

    @media (min-width: 768px) and (max-width: 991.98px) {
        bottom: 330px !important;
    }
}

.next-latest svg {
    margin-top: 25%;
    margin-left: 30%;
}


/* banner email form subsribe----------- */

.form-banner {
    padding: 0;
}

.form_subsribe {
    width: 90% !important;
    outline: none;

    @media (min-width: 768px) and (max-width: 991.98px) {
        margin-top: 5%;
    }

    @media (min-device-width:320px)and (max-device-width:480px) {
        width: 100% !important;
    }
}

.form_subsribe input {
    background-color: @background-color-main;
    border: none;
    border-bottom: 1px solid @color-text-main;
    border-radius: 0;
}

.form_subsribe input::placeholder {
    color: @color-text-main;
    opacity: 0.6;
    font-size: 95%;
}

.form-sub:focus {
    background-color: @background-color-main;
    box-shadow: none !important;
    border-bottom: 1px solid @color-text-main  !important;
    color: @color-text-main;
}

.btn-form-subsribe {
    color: @color-text-main;
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    @media (min-device-width:320px)and (max-device-width:480px) {
        font-size: 90%;
    }
}

.content-bn-form {
    .content-bn-text();

    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 110%;
    }

}

/* slide foods----------- */


.food-slide-items img {
    .image-slide-items();
    opacity: 1;
    // height: 15px;
}


.food-slide-items {
    .slide-items();
    padding: 0.04%;
    margin: 1px;
    border: none;
    outline: none;
    cursor: pointer;
}

.food-info-products {
    .latest-info-products();
    padding: 22.7px 28px;
    line-height: 1.4;
}

.food-title {
    text-transform: uppercase;
    font-weight: 400;
    font-family: @font-main;
    font-size: 20px;
    color: @background-color-main;
}

.food-detail {
    color: #8b8d8d;
    font-size: 15px;
    font-weight: 400;
    font-family: @font-main;
}

.food-info-products a {
    text-transform: uppercase;
    font-family: @font-main;
    color: @background-color-main;
    font-weight: 400;
    font-size: 15px;
}

.food-info-products span {
    color: @background-color-main;
    font-weight: 600;
}

/* --------------------------------- responsive --------------------------------- */

/* footer ----------- */
.footer_mb {
    display: none;
    background-color: @dark-background-color-main;

    @media (max-width: 991.98px) {
        display: block;
    }
}

.form_search_mb {
    border-top: 1px solid @background-color-main;
    width: 100%;
    background-color: @background-color-main;
}

.input_search {
    height: 51px;
    border: none;
    border-radius: 0px;
    background-color: #33827b;
}

.input_search::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: @color-text-main  !important;
    opacity: 0.5;
    font-size: 13px;
    font-family: @font-main;
    font-weight: 500;

}

.btn_search_mb {
    padding: 0px 20px;
    border: none;
    font-family: @font-main;
    color: @color-text-main;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

/* Nav ft mobile ----------- */
.card {
    border: none;
    border-bottom: 1px solid #c0c3c3 !important;

}

.nav_title_mb {
    background-color: @dark-background-color-main;
}

.nav_title_btn {
    padding-left: 0;
    color: @background-color-main;
    text-transform: uppercase;
    font-size: 18px;
    font-family: @font-main;
}

.nav_title_btn:focus {
    box-shadow: none;
    outline: none;
    .nav_title_btn();
}

.nav_items {
    border-radius: 0px !important;
    .nav_title_btn();
}

.chevron {
    border-style: solid;
    border-width: 0.15em 0.15em 0px 0;
    content: '';
    display: inline-block;
    height: 0.6em;
    position: relative;
    top: 0.3em;
    transform: rotate(135deg);
    vertical-align: top;
    width: 0.6em;
    transition-duration: 1s;
    color: #9b9b9b;
    float: right;
}

.nav_items_links {
    background-color: #2d2d2d;
}

.nav_items_links ul {
    list-style: none;
}

.nav_items_links a {
    color: @color-text-main;
    font-size: 15px;
    font-family: @font-main;
    text-transform: capitalize;
}

.item_links_child a {
    color: @background-color-main  !important;
    text-decoration: underline;
}

.item_content_child {
    color: @color-text-main  !important;
    font-size: 12px !important;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 1.3;
}

/* Smartphones (portrait and landscape) ----------- */
@media (min-device-width:320px)and (max-device-width:480px) {
    /* Styles */
}


// Medium devices (tablets, 768px and up)
@media (min-device-width: 768px) and (max-device-width: 991.98px) {}